
/////////////////////////////////////////////////////////////////////////////////// APP.LAYOUT/SCSS ///

html, body {
	width: 100%; height: 100%;
}

html {
	background-color: $white;
	transition: background 0.5s ease;
}

body {
	@include sans;
	font-size: 11px;
}

// .playSound-embed, .playSound-audio { position: absolute; } // for when sounds are included

#aries-titlebar, #aries-powerbar {
	width: 100%; height: 31px;

	align-items: center;
	border: 0;
	border-bottom: 1px solid rgba($black, 0.05);
	display: flex;
	flex-direction: row;
	overflow: hidden;
	user-select: none;

	display: -webkit-box;
	display: -webkit-flex;

	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

#aries-titlebar {
	margin: 0 0 -31px 0; padding: 0 0.8rem;

	background-color: $dark-gray;
	opacity: 0;
	transition: all 0.2s ease;
	user-select: none;

	-webkit-app-region: drag;
	-webkit-user-select: none;

	h1 {
		margin: 0; padding: 0;

		align-items: center;
		box-align: center;
		box-orient: horizontal;
		color: rgba($white, 0.6); // $white
		cursor: default;
		display: flex;
		flex: 1;
		flex-direction: row;
		font-size: 13px;
		font-weight: 400;
		height: 35px;
		user-select: none;

		-webkit-flex: 1;
		-webkit-box-flex: 1;

		display: -webkit-box;
		display: -webkit-flex;

		-webkit-align-items: center;
		-webkit-box-align: center;
		-webkit-box-orient: horizontal;
		-webkit-flex-direction: row;
		-webkit-user-select: none;
		-webkit-touch-callout: none;
	}
}

#aries-powerbar {
	background-color: #eee; // #365d98
}

#browsing-actions, #url-bar, #window-actions {
	// float: left;
	position: absolute;
}

#browsing-actions, #window-actions {
}

#browsing-actions { left: 0; }
#window-actions { right: 0; }

#url-bar {
	background-color: transparent;
	border: none;
	height: 31px;
	left: 94px;
	line-height: 2;
	overflow: hidden;
	padding: 0 0.5rem;
	white-space: pre; //
}

#tab-wrapper {
	width: auto; height: 31px;

	display: none;
	position: absolute;
	right: 92px;
	visibility: hidden;

	.tab {
		width: 160px; height: 100%;
		margin: 0; padding: 0;

		background-color: transparent;
		border: 0;
		border-left: 1px solid rgba($black, 0.05);
		cursor: pointer;
		float: left;
	}

	&:before, &:after {
		content: "";
		display: table;
	}

	&:after { clear: both; }
}

//
/*  Hide tab navigation by default
.tabs {
  display: none;
  visibility: hidden;
}
*/

/*  Display tab navigation if javascript enabled.
 *  This requires on the included js-accessibility.js-tabby script. */
.js-tabby #tab-wrapper {
  display: block;
  visibility: visible;
}

/*  Force browser to show a pointer on tab navigation.
.tabs a,
.tabs button {
  cursor: pointer;
}
*/

/*  Hide tab content if javascript is enabled. */
.js-tabby .tabs-pane {
  display: none;
  visibility: hidden;
}

/*  Show tab content when active class is added.
 *  This class is added via javascript. */
.tabs-pane.active {
  display: block;
  visibility: visible;
}

/* Clearfix */

/*
.tabs:after {
  clear: both;
}
*/
//

.button-group {
	align-items: center;
	box-align: center;
	box-orient: horizontal;
	display: flex;
	flex-direction: row;
	padding-left: 2px;

	display: -webkit-box;
	display: -webkit-flex;

	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;

	button {
		width: 31px; height: 31px;
		margin: 0; padding: 0;

		background-color: transparent;
		border: 0;
		color: rgba($black, 0.3);
		display: inline-block;
		float: left;
		font-family: "Ionicons";
		font-size: 16px;
		opacity: 1;
	}
}

button.app-settings, button.app-go-back, button.app-go-forth {
	border-right: 1px solid rgba($black, 0.05);
}

button.app-settings {
	&:before { content: "\f20e"; }
}

button.app-go-back {
	&:before { content: "\f153"; }
}

button.app-go-forth {
	&:before { content: "\f154"; }
}

button.app-minimize {
	border-left: 1px solid rgba($black, 0.05);
	&:before { content: "\f1ac"; }
}

button.app-maximize {
	&:before { content: "\f1c9"; }
}

button.app-close {
	color: $red;
	&:before { content: "\f2bd"; }
}

#aries-showcase, iframe {
	width: 100%; height: 100%;
}

#aries-showcase {
	background-image: url("../images/speed-dial-bg2.png");
	background-repeat: repeat;
	background-size: 400px 299px;
}
